@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic');

.camera{
  margin: 40px;
  display: flex;
  box-shadow: 7px 7px 8px 0px #0002, 4px 4px 5px 0px #0001;
  border-radius: 20px;
  height:360px;
  width: 480px;
  overflow: hidden;
}

.component{
  margin: 20px;
  margin-top: 60px;
  font-size: 20px;
  color: white;
  padding: 5px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 20px;
  width: 160px;
  box-shadow: 7px 7px 8px 0px rgba(255, 220, 220, 0.133), 4px 4px 5px 0px rgba(255, 220, 220, 0.133);
}

.background{
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  height: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body{
  margin:0;
  font-family: Roboto, sans-serif;
}

.warning {
  box-shadow: 7px 7px 8px 0px rgba(255, 220, 220, 0.133), 4px 4px 5px 0px rgba(255, 220, 220, 0.133);
  color: white;
  opacity: 70;
  margin: 20px;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 500px;
  border-radius: 20px;
}